@import "../../style/common/var";
@import "../../style/common/function";

.markdown-output {
    width: 50%;
    height: 100%;
    position: relative;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

    &.preview {
        width: 100%;
        .markdown {
            margin-top: 2em;
            width: 1080px;
            min-width: 1080px;
        }
    }

    .markdown-container {
        @include scroll;
        width: 100%;
        height: calc(100% - 48px);
        display: flex;
        justify-content: center;

        .markdown {
            position: relative;
            background-color: white;
            padding: $space-large;
            line-height: 1.5;
            height: fit-content;
            min-height: 100%;
            width: 100%;

            & > * {
                width: 100%;
                color: $font-color--primary--title;
                font-size: 1em;
                line-height: 1.5em;
                margin: 0.8em 0;
            }

            h1, h2, h3, h4, h5, h6, strong {
                font-weight: bold;
                color: $font-color--primary--title;
            }

            h1 {
                font-size: $font-size--xxl + $font-size--increase * 3;
                @media (max-width: $breakpoints) {
                    font-size: $font-size--xxl + $font-size--increase * 2;
                }
            }

            h2 {
                font-size: $font-size--xxl + $font-size--increase * 2;
                @media (max-width: $breakpoints) {
                    font-size: $font-size--xxl + $font-size--increase;
                }
            }

            h3 {
                font-size: $font-size--xxl + $font-size--increase;
                @media (max-width: $breakpoints) {
                    font-size: $font-size--xxl;
                }
            }

            h4 {
                font-size: $font-size--xxl;
                @media (max-width: $breakpoints) {
                    font-size: $font-size--xl;
                }
            }

            h5 {
                font-size: $font-size--xl;
                @media (max-width: $breakpoints) {
                    font-size: $font-size--larger;
                }
            }

            h6 {
                @include font-size-title-m;
            }

            a {
                color: #259;
                text-decoration: underline;
            }

            mark {
                background-color: #91d5ff;
            }

            img {
                width: 100%;
            }

            hr {
                border: 0;
                border-top: 1px $border-color--dark solid;
                margin: $space-medium 0;
            }

            blockquote {
                padding: 0 $space-medium 0 $space-medium;
                margin-bottom: $space-medium;
                width: 100%;
                border-left: 4px solid $background-color--primary--dark;

                p {
                    margin: $space-small 0;
                    line-height: 1.7em;
                }
                blockquote:nth-last-child(1) {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            pre {
                margin-bottom: $space-medium;
                width: 100%;
                background-color: $background-color--dark--light;
                padding: $space-small $space-medium;
                border-radius: $border-radius--mini;
                @include scroll;
                code {
                    width: 100%;
                    color: $font-color--dark;
                }
            }
            code {
                font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
            }

            ul {
                padding-left: 2em;
                li {

                }
            }
            ol {
                padding-left: 2.5em;
            }

            .table {
                max-width: 100%;
                overflow: auto;
                border: 1px solid #f6f6f6;
                border-collapse: collapse;
                border-spacing: 0;
                thead {
                    background: #f6f6f6;
                    color: #000;
                    text-align: left;
                    tr {
                        th {
                            padding: .8em .5em;
                            line-height: 1.5em;
                        }
                    }
                }
                tbody {
                    tr {
                        &:nth-child(even) {
                            background-color: $background-color--primary;
                        }
                        td {
                            text-align: left;
                            padding: .8em .5em;
                            line-height: 1.5em;
                            min-width: 7.5em;
                        }
                    }
                }
            }

        }

        .aside {
            position: relative;
            margin-top: 2em;
            width: 200px;
        }
    }

    .markdown-tool {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 48px;
        background-color: white;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding-left: $space-small;
        border-top: $border--medium;
        i {
            margin-left: $space-small;
        }
    }
}

.markdown-toc {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    .table-of-contents {
        li {
            margin: 0.25em 0.25em 0.25em 1em;
            list-style: disc;
        }
        & > li {
            margin: 0;
            list-style: none;
        }
        a {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}
