//region color-warehouse
$color--white: #ffffff;
$color--black: #000000;

//$grey-d9dee4: #D9DEE4;
//$grey-999999: #999999;
//$grey-909399: #909399;
//$grey-525252: #525252;
//$grey-333333: #333333;

$blue--1: #e6f7ff;
$blue--2: #bae7ff;
$blue--3: #91d5ff;
$blue--4: #69c0ff;
$blue--5: #40a9ff;
$blue--6: #1890ff;
$blue--7: #096dd9;
$blue--8: #0050b3;
$blue--9: #003a8c;
$blue--10: #002766;

//默认中性色色谱（默认） 从黑到白
$color--neutral--1: $color--black;
$color--neutral--2: mix($color--black, $color--white, 85%);
$color--neutral--3: mix($color--black, $color--white, 65%);
$color--neutral--4: mix($color--black, $color--white, 45%);
$color--neutral--5: mix($color--black, $color--white, 25%);
$color--neutral--6: mix($color--black, $color--white, 15%);
$color--neutral--7: mix($color--black, $color--white, 9%);
$color--neutral--8: mix($color--black, $color--white, 4%);
$color--neutral--9: mix($color--black, $color--white, 2%);
$color--neutral--10: $color--white;

// region primary color

$color--primary: #1890ff;
$color--success: #52c41a;
$color--warning: #faad14;
$color--danger: #f5222d;

// endregion

//region space
$space-mini: 0.2em;
$space-small: 0.5em;
$space-medium: 1em;
$space-large: 1.5em;

$breakpoints: 1440px;

//endregion

//region font
$font-family: Helvetica, "Helvetica Neue", Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
"微软雅黑", sans-serif;

$font-size--medium: 0.7rem;
$font-size--small: $font-size--medium - 0.1rem;
$font-size--large: $font-size--medium + 0.1rem;
$font-size--larger: $font-size--medium + 0.2rem;
$font-size--xl: $font-size--medium + 0.3rem;
$font-size--xxl: $font-size--medium + 0.5rem;
$font-size--increase: 0.2rem;

$font-color--primary--title: $color--neutral--2; //标题
$font-color--primary: $color--neutral--3; //正文颜色
$font-color--primary--secondary: $color--neutral--4; //辅助文字颜色
$font-color--primary--disabled: $color--neutral--5; //失效文字颜色

$font-color--dark--title: $color--neutral--10;
$font-color--dark: $color--neutral--6;
$font-color--dark--secondary: $color--neutral--5;
$font-color--dark--disabled: $color--neutral--4;

//endregion

//region background
$background-color--primary--dark: $color--neutral--7;
$background-color--primary: $color--neutral--8;
$background-color--primary--light: $color--neutral--9;
$background-color--primary--theme: #edf6ff;

$background-color--dark--light: #002140;
$background-color--dark: #001529;
$background-color--dark--dark: #000c17;

//endregion

//region border
$border-color--medium: $color--neutral--7;
$border-color--dark: $color--neutral--6;

$border--dark: 1px solid $border-color--dark;
$border--medium: 1px solid $border-color--medium;
$border--light: 1px solid $color--neutral--8;
//endregion

//region border-radius
$border-radius--mini: 3px;
//endregion

